{{ define "main" }}
  <article>
    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}

    <div class="post-content">
      {{ .Content }}

      <h3>Recent Posts</h3>
      <ul>
        {{ range (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h3>Rust-Zettels</h3>
      <p>My journey to learning Rust, the Zettelkasten way.</p>
      <ul>
        {{ range (where .Site.RegularPages "Section" "rust-zettels").ByDate.Reverse }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h3>Explore</h3>
      <ul>
        <li><a href="/about/">About Me</a></li>
      </ul>
    </div>
  </article>
{{ end }}

